.sidebar
	ul.sidebar-nav
		li
			.search
				label(for='search' ng-class='{"active": search.focus}')
					i.mdi.mdi-magnify

				input(
					id='search' 
					placeholder='Search markets and products'
					ng-model='search.query'
					ng-class='{"active": search.focus}' 
					ng-focus='search.focus=1'
					ng-blur='search.focus=0'
				)
		li(ng-class='{"active": ("home" | routeSegmentStartsWith)}')
			a(href='#/home'): i.mdi.mdi-home
		li(ng-class='{"active": ("markets" | routeSegmentStartsWith)}')
			a(href='#/markets'): i.mdi.mdi-store
		li(ng-class='{"active": ("messages" | routeSegmentStartsWith)}')
			a(href='#/messages')
				i.mdi.mdi-comment-text.triple-wobble(
					ng-class='{"animated wobble ": newMessages()}'
				)
		li(ng-class='{"active": ("settings" | routeSegmentStartsWith)}')
			a(href='#/settings'): i.mdi.mdi-settings
		li(ng-class='{"active": ("labs" | routeSegmentStartsWith)}')
			a(href='#/labs'): i.mdi.mdi-beaker
